.bgimage {
  background-image: url(bgcrop.jpg);
  background-size: cover;
  border-bottom: 7px solid yellowgreen;
  height: 90vh;
  width: 100%;
  opacity: 90%;
  z-index: -2;
}

#projects {
  background-color: yellowgreen;
}

.footer {
  background-color: yellowgreen;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer p {
  color: white;
}